.TaskTable {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #000;
    margin: 2px;
}


/* tr:nth-child(even) {
    background: #CCC
}

tr:nth-child(odd) {
    background: #FFF
}

td,
th {
    border-right: solid 1px #000;
    border-left: solid 1px #000;
} */